---
import { slugifyStr } from "@utils/slugify";
import DateDiv from "./DateDiv.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  href?: string;
  frontmatter: CollectionEntry<"blog">["data"];
}
const { frontmatter, href } = Astro.props;
const { title, pubDatetime, modDatetime, description } = frontmatter;
---

<li class="my-6" transition:name={slugifyStr(title)}>
  <a
    href={href}
    class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    <h2 class="text-lg font-medium decoration-dashed hover:underline">
      {title}
    </h2>
  </a>
  <DateDiv pubDatetime={pubDatetime} modDatetime={modDatetime} />
  <p>{description}</p>
</li>
